<div class="cart-panel">

  <h2>Carrito</h2>

  <div *ngIf="items.length === 0">
    <p>El carrito está vacío</p>
  </div>

  <div *ngFor="let item of items" class="cart-item">

    <p class="product-name">
      <strong>{{ item.product.name }}</strong>
    </p>

    <p>
      Cantidad: {{ item.quantity }}
    </p>

    <p>
      Precio: {{ item.product.price | currency:'COP':'symbol':'1.0-0' }}
    </p>

    <button class="remove-btn" (click)="remove(item.product.id)">
      Eliminar
    </button>

  </div>

  <hr>

  <div class="cart-total">
    <h3>Total:</h3>
    <h3>{{ total | currency:'COP':'symbol':'1.0-0' }}</h3>
  </div>

</div>