<app-navbar
  (cartClicked)="toggleCart()"
  (searchChanged)="onSearchChanged($event)"
  (genderChanged)="onGenderChanged($event)"
  (categoryChanged)="onCategoryChanged($event)"
  (logoClicked)="goToAbout()">
</app-navbar>

<app-cart-panel
  *ngIf="cartOpen"
  (closePanel)="closeCart()"
  (checkoutClicked)="openCheckout()">
</app-cart-panel>

<app-checkout
  *ngIf="showCheckout"
  (orderCompleted)="showCheckout = false">
</app-checkout>

<app-about *ngIf="showAbout && !showCheckout"></app-about>

<app-catalog
  *ngIf="!showAbout && !showCheckout"
  [searchText]="searchText"
  [selectedGender]="selectedGender"
  [selectedCategory]="selectedCategory">
</app-catalog>