<header class="navbar">

  <div class="logo">
    MANCHOLITA
  </div>

  <div class="search">
  <input
    type="text"
    placeholder="Buscar productos..."
    [(ngModel)]="searchText"
    (input)="onSearchChange()">
</div>
 <div class="cart" (click)="openCart()">
  🛒 <span class="count">{{cartCount}}</span>
</div>

</header>

<div class="filters">
  <button (click)="filterByGender(1)">Hombre</button>
  <button (click)="filterByGender(2)">Mujer</button>
  <button (click)="filterByGender(0)">Todos</button>
</div>